//colors
$black: #000;
$white: #fff;
$background-color: #333333;

$grey-100: #f7f8f9;
$grey-200: #edeef0;
$grey-300: #d7d7d7;
$grey-400: #a8a8a8;
$grey-600: #808080;
$grey-700: #616161;
$grey-800: #464646;
$red-extra: #ff0000;
$yellow: #ffff00;
$green: #008000;
$green-400: #01a41a;
$green-300: #00a046;
$green-200: #00bc52;
$orange-400: #ff7e01;
$orange: #c26e00;
$deep-orange: #f05f30;
$orange-700: #e74c3c;
$blue: #0003ad;
$blue-100: #a8a9ff;
$blue-300: #3d40eb;
$deep-blue: #1e3050;

//Body
$base-min-width: 320px;
$font-size-base: 14px !default;

// Headers
$h1-fonts-size: 32px !default;
$h2-fonts-size: 28px !default;
$h3-fonts-size: 24px !default;
$h4-fonts-size: 20px !default;
$h5-fonts-size: 14px !default;

//Typography
$font-type-cursive: cursive;

//Screen size
$mobile-screen: 300px;
$pc-screen: 720px;

//Background for block
.red-background {
  background-color: $red-extra;
}
.yellow-background {
  background-color: $yellow;
}
.green-background {
  background-color: $green;
}
.black-background {
  background-color: $black;
}
.orange-background {
  background-color: $orange;
}
.blue-background {
  background-color: $blue-300;
}
.yellow-background {
  background-color: $yellow;
}
.white-background {
  background-color: $white;
}

.requestError {
  margin-top: 10px;
  color: $red-extra;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
}
