@import '../../assets/scss/base/variables';

.dndBlock {
  display: block;

  &-title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  &-paragraph {
    color: $grey-600;
    margin-bottom: 8px;
  }

  &-inputDnd {
    display: block;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  &-preview {
    margin: 18px 0 14px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 260px;

    .preview-img {
      width: 50%;
    }

    .preview-info {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: right;

      &-button {
        width: 120px;
        height: 40px;
        border: 2px $grey-600 solid;
        background-color: $grey-200;
        transform: skew(-10deg);
        cursor: pointer;
      }

      &-button:hover {
        background-color: $grey-300;
      }
    }
    .preview-info > p {
      display: block;
      width: 100%;
      margin: 10px 0;
      text-align: right;
    }
  }
}
