@import '../../assets/scss/base/variables';

.wrapper {
  background-color: #f3f0e7;
  padding: 20px 0;
  height: 100vh;
}

.adminPage__table {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px 16px 10px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);

  &-errorRemove,
  &-successRemove {
    margin-right: 18px;
    font-weight: 700;
    text-align: right;
  }

  &-errorRemove {
    color: $red-extra;
  }

  &-successRemove {
    color: $green;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .headerParagraph {
      display: block;
      width: 180px;
      font-size: 18px;
      font-weight: 700;

      &__id {
        width: 250px;
      }
    }
  }
}
